html, body, div, p {
  margin: 0;
  padding: 0;
}

body {
  max-width: 700px;
  margin: 0 auto;
  padding: 2em;
  background: #fefefe;
  color: #333;
  font: 16px 'Nunito', sans-serif;
  line-height: 1.45em;
  text-align: justify;
}

a {
  outline: 0;
  color: #08b;
  text-decoration: none;
  border: 0;
}

a:hover {
  border-bottom: 1px dashed #08B;
}

img {
  border: 0;
}

h1 {
  color: #222;
  margin: 5px 0;
  font: 200% 'Nunito', sans-serif;
  text-shadow: 0 0 1px #AAA;
}

h2 {
  color: #555;
  margin: 5px 0;
  font: 150% 'Nunito', sans-serif;
  text-shadow: 0 0 1px #AAA;
}

h3 {
  color: #08B;
  margin: 0;
  font: 100% 'Nunito', sans-serif;
  padding: 0 0 0 12px;
}

p {
  padding: 0 0 1em 24px;
}

#info {
  padding: 0 0 1em 0;
}

.sidebar {
  float: right;
  text-align: center;
  padding: 0 0 0 2em;
}

.sidebar a {
  border: 0;
}

.profile {
  padding: 0.3em;
}
